<%= turbo_frame_tag 'navbar' do %>
  <div id="header" class="navbar-animation">
    <%= link_to root_path, class: "logo" do %>
      <i class="bi bi-pentagon-half"></i>
      <%= t('application.name') %>
    <% end %>

    <span class="pull-right">
      <ul class="list-inline">
        <% if ENV["SOURCE_CODE_URL"].present? %>
          <li class="list-inline-item">
            <%= link_to ENV["SOURCE_CODE_URL"], target: '_blank', class: "btn btn-light" do %>
              <i class="bi bi-laptop"></i>
              <%= t("nav.source_code") %>
            <% end %>
          </li>
        <% end %>
        <% if user_signed_in? %>
          <li class="list-inline-item">
            <%= link_to t("nav.profile"), profile_path, class: "btn btn-light" %>
          </li>
          <li class="list-inline-item">
            <%= link_to t("nav.log_out"), destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
          </li>
        <% else %>
          <li class="list-inline-item">
            <%= link_to t("nav.log_in"), new_user_session_path, class: "btn btn-light" %>
          </li>
        <% end %>
      </ul>
    </span>
  </div>
<% end %>