<%= javascript_import_module_tag "controllers/studys" %>
<div class="study_body">
  <h1>Deck: <%= @deck.name %></h1>
  <div id="carouselExampleIndicators" class="carousel slide"data-interval="false" data-bs-interval="false" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <% @deck.cards.each_with_index do |card, index| %>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%= index %>
          class="
            <%= index.zero? ? 'active' : '' %>
          "
          aria-current="
            <%= index.zero? ? 'true' : 'false' %>
          "
          aria-label="Slide <%= index + 1%>">
          </button>
      <% end %>
    </div>
    <div class="carousel-inner">
      <% @deck.cards.each_with_index do |card, index| %>
        <div
          class="
            study-card
            carousel-item
            <%= index.zero? ? 'active' : '' %>
          "
          data-id="<%= card.id %>"
        >
          <!-- front of card -->
          <div class="card mx-auto card-front" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= card.header %></h5>
              <p class="card-text mb-4"><%= card.lines %></p>
            </div>
          </div>
          <!-- back of card -->
          <div class="card mx-auto visually-hidden card-back" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text mb-4"><%= card.blank %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
    <br><br>
  </div>
  <button type="button" class="btn btn-info" onclick="studyCardFlip(this)">Flip</button>
  <p>
    <b>Score</b><br/>
    <input id="score_corr" name="score" type="radio" value="Correct" onclick="hasAllAnswers(this)" /> Correct<br />
    <input id="score_incorr" name="score" type="radio" value="Incorrect" onclick="hasAllAnswers(this)" /> Incorrect<br/>
  </p>
  <!-- Form storing results (correct/incorrect) -->
  <div class="">
    <!-- Recieved by: results_controller#create -->
    <%= form_with(url: deck_results_path, model: @deck.results.build, html: {id: "card_results_form"}) do |form| %>
      <div class="visually-hidden">
        HERE
        <%= @deck.cards.size%>
        <% @deck.cards.each do |card| %>
          <div id="cardResultForm<%= card.id %>">
            Here <%= card.id %>
            <%= form.fields_for(:card_results, form.object.card_results.build) do |card_result_form| %>
              <%= card_result_form.check_box :correct, "data-has-value-been-set": "false" %>
              <%= card_result_form.number_field :card_id, value: card.id %>
            <% end %>
          </div>
        <% end %>
      </div>
      <p>
        <!-- TODO:
        Disable submit button until all card result checkboxes have been filled/answers
        How to do start the page w/ the button disabled
        Have listener for each checkbox; That listener will check to see if all checkboxes have been checked. If that happens, disable the button. -->
        <%= form.submit id: "submitResult", disabled: true, class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
</div>