<!-- store necessary translations in html for JS to pick up -->
<% content_for :translations do %>
  <%= hidden_field_tag 'translations[guess_placeholder_suffix_singular]', t('result.guess_placeholder_suffix_singular') %>
  <%= hidden_field_tag 'translations[guess_placeholder_suffix_plural]', t('result.guess_placeholder_suffix_plural') %>
<% end %>

<%= javascript_import_module_tag "controllers/results" %>
<div class="study_body">
  <div class="container">
    <h1>Deck: <%= @deck.name %></h1>
    <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-bs-interval="false" data-bs-ride="carousel">
      <!-- PREVIOUS BUTTON -->
      <button class="w-20 carousel-control-prev bg-gradient bg-info bg-gradient rounded-pill border border-2 border-primary loading-disable no-loading-spinner" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <div class="carousel-indicators">
        <% @cards.each_with_index do |card, index| %>
          <button data-card-id="<%= card.id %>" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to=<%= index %>
            class="
              <%= index.zero? ? 'active' : '' %>
            "
            aria-current="
              <%= index.zero? ? 'true' : 'false' %>
            "
            aria-label="Slide <%= index + 1%>">
            </button>
        <% end %>
      </div>
      <!-- CARDS -->
      <div class="carousel-inner" style="margin-left: 20%; max-width: 60%;">
        <% @cards.each_with_index do |card, index| %>
          <div
            class="
              flipper
              study-card
              carousel-item
              <%= index.zero? ? 'active' : '' %>
            "
            data-id="<%= card.id %>"
            data-word-count="<%= card.count_words_in_blank %>"
          >
            <!-- front of card -->
            <div class="card card-front">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <p class="font-weight-bold btn btn-secondary btn-sm no-click w-24">
                    <%= t('card.front') %>
                  </p>
                </div>
                <h5 class="card-title"><%= card.header %></h5>
                <p class="card-text mb-4"><%= card.lines %></p>
              </div>
            </div>
            <!-- back of card -->
            <div class="card card-back">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <p class="font-weight-bold btn btn-secondary btn-sm no-click w-24">
                    <%= t('card.back') %>
                  </p>
                </div>
                <p class="card-text mb-4"><%= card.blank %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <!-- NEXT BUTTON -->
      <button class="w-20 carousel-control-next bg-gradient bg-info bg-gradient rounded-pill border border-2 border-primary loading-disable no-loading-spinner" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <br><br>
    </div>

    <!-- CENTER ACTIONS -->
    <div class="form">
      <div class="d-flex justify-content-center input-group">
        <%= form_tag cards_guess_path, method: :post, class: "form-inline my-4", id: "guess_answer" do %>
          <%= hidden_field_tag :card_id, "undefined" %>
          <div class="input-group">
            <%= text_field_tag :guess, nil, class: "form-control", placeholder: "" %>
            <div class="input-group-append d-flex">
              <%= button_tag type: :submit, class: "btn btn-primary loading-disable" do %>
                <%= t('result.action.guess') %>
              <% end %>
              <%= button_tag t('result.action.next'), type: 'button', id: 'next', class: "btn btn-success loading-disable", onclick: "$('button[data-bs-slide=\\'next\\']').click();", disabled: true %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex justify-content-center">
        <button id="flipper" style="width: 30%; min-width: 50px;" type="button" class="btn btn-info loading-disable" onclick="studyCardFlip(this)">Flip</button>
      </div>
      <div class="d-flex justify-content-center input-group">
        <label for="score_corr" class="form-check-label btn btn-secondary m-1 loading-disable">
          <input id="score_corr" class="" name="score" type="radio" value="Correct" onclick="cardResultSelected()" />
          Correct
        </label>
        <label for="score_incorr" class="form-check-label btn btn-secondary m-1 loading-disable">
          <input id="score_incorr" class="" name="score" type="radio" value="Incorrect" onclick="cardResultSelected()" />
          Incorrect
        </label>
      </div>
    </div>

    <hr class="my-4"/>
    <!-- Form storing results (correct/incorrect) -->
    <div class="d-flex justify-content-center">
      <!-- Recieved by: results_controller#create -->
      <%= form_with(url: deck_results_path, model: @deck.results.build, html: {id: "card_results_form"}) do |form| %>
        <div class="visually-hidden">
          <%= @cards.size %>
          <% @cards.each do |card| %>
            <div id="cardResultForm<%= card.id %>">
              <%= form.fields_for(:card_results, form.object.card_results.build) do |card_result_form| %>
                <%= card_result_form.check_box :correct, "data-has-value-been-set": "false" %>
                <%= card_result_form.number_field :card_id, value: card.id %>
              <% end %>
            </div>
          <% end %>
        </div>
        <p>
          <!-- TODO:
          Disable submit button until all card result checkboxes have been filled/answers
          How to do start the page w/ the button disabled
          Have listener for each checkbox; That listener will check to see if all checkboxes have been checked. If that happens, disable the button. -->
          <%= form.submit id: "submitResult", disabled: true, class: "btn btn-success" %>
          <%=
            link_to t('actions.cancel'), deck_path(@deck), class: "btn btn-danger", data: {
              confirm: "Are you sure?"
            }
          %>
        </p>
      <% end %>
    </div>
  </div>
</div>