<!-- View Page of Card -->
<ul>
  <div class="container">
        
        <div class="card-group">
         
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= card.header %></h5>
              <p class="card-text mb-4"><%= card.lines %></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <p class="card-text mb-4"><%= card.blank %></p>
            </div>
          </div>

        </div>
    
    <br>

    <%= link_to "Edit", edit_deck_card_path(@deck, card), class: "btn btn-primary" %>

    <%= link_to "Delete", [card.deck, card], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                }, class: "btn btn-danger" %>
  
  </div>
  <br>
</ul>