<!-- app/views/decks/_deck.html.erb -->
<%= turbo_frame_tag dom_id(deck) do %>
  <% editable ||= false %>
  <div class="deck h-100" data-target="decks.deck">
    <%= form_with model: deck, class: "form " << (editable ? "" : "h-100")  do |form| %>
      <div class="h-100 <%= 'form-group mb-3' if editable %>">
        <%
          onclick_name = editable ? "" : "
            $(this).closest('.deck-row').siblings('.deck-row').removeClass('active');
            $(this).closest('.deck-row').toggleClass('active');
          "
        %>
        <%= form.text_field :name, readonly: !editable, placeholder: t('deck.name'), class: "w-100 " << (editable ? "form-control" : "btn btn-info h-100"), onclick: onclick_name %>
        <% deck.errors.full_messages_for(:name).each do |message| %>
          <div>
            <%= message %>
          </div>
        <% end %>
      </div>
      <% if editable %>
        <div class="form-group mb-3">
          <%= form.submit t("action_submit_names.#{action_name}") + ' ' + t('deck.class'), class: 'btn btn-success' %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>