<div class="study_body">
  <div class="container">
      
    <div class="row">
      <div class="col">
        <h1>Deck: <%= @deck.name %></h1>
      </div>
      <div class="col actions w-25">
        <div class='pull-right'>
          <%= render partial: 'actions', locals: {deck: @deck, button_size: 'btn-lg'} %>
        </div>
      </div>
    </div>


    <h2>Results</h2>
    <%= @deck.results.card_result_average %>
    <%#= TODO: Render paginated partial of results %>
    <%= render @results %>

    <h2>Cards</h2>

  <!-- Search does work, but doesn't specify the deck... -->
      <h4> Search Cards: </h4>
      <%= form_tag(deck_path, method: :get) do %>
        <%= text_field_tag(:search, params[:search]) %>
        <%= submit_tag ("Search") %>
      <% end %>
      <%= button_to "Clear Search", deck_path, method: :get %>


      <%= render @cards %>
      <%#= will_paginate @cards %>
    </div>
    <div>

      <h2>Add a card:</h2>
      <%= render 'cards/form'%>
    </div>
  </div>
</div>