<div class="study_body">
  <div class="container">
      
    <div class="row">
      <div class="col">
        <h1>Deck: <%= @deck.name %></h1>
      </div>
      <div class="col actions w-25">
        <div class='pull-right'>
          <%= render partial: 'actions', locals: {deck: @deck, button_size: 'btn-lg'} %>
        </div>
      </div>
    </div>

    <h4>
      <%= t("deck.total_average") %>: <%= @results.card_result_average %>
    </h4>


    <h4><%= t("deck.last_8_results") %>: (<%= t("deck.average") %>: <%= @results.last_8.card_result_average %>)</h4>
    <ul>
    <% @results.last_8.created_at_asc.each_with_index do |result, index| %>
      <li><%= index + 1 %>: <%= result.to_h %> Correct</li>
    <% end %>
    <ul>
    <div class="d-flex align-items-center">
      <div class="mx-2">
        <h2>Cards</h2>
      </div>
      <div class="mx-2 pull-right">
        <%= form_tag deck_path, method: :get, class: "form-inline my-4" do %>
          <div class="input-group">
            <%= text_field_tag :card_search, params[:card_search], class: "form-control", placeholder: "Search..." %>
            <div class="input-group-append d-flex">
              <%= button_tag type: :submit, class: "btn btn-primary" do %>
                <i class="bi bi-search"></i>
              <% end %>
              <div class="input-group-append">
                <%= link_to "x", deck_path, class: "btn btn-danger " << (params[:card_search].present? ? '' : 'disabled') %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="mx-2 pull-right">
        <%= link_to t("actions.new") + ' ' + t('card.class'), new_deck_card_path(@deck), class: "btn btn-success pull-right" %>
      </div>
    </div>


    <%= will_paginate @cards, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
    <%= render @cards %>
    <%= will_paginate @cards, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

    <!-- <h2>Add a card:</h2> -->
    <%#= render 'cards/form'%>
  </div>
</div>